<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Criar Produto</title>
</head>
<body>

	<a href="/fornecedores">Voltar</a>
	
	<h2>Adicionar fornecedor</h2>
	<form method="post" action="/fornecedores/create">
		<p>Nome <input type="text" name="nome" id="nome"></p>
		<p>Endereço <input type="text" name="endereco" id="endereco"></p>
		<p>Telefone <input type="text" name="telefone" id="telefone"></p>
		<input type="submit" value="Salvar">
	</form>
	 
</body>
</html>